/venv
/.idea
*.log
__pycache__
/.pytest_cache
/tests/step_defs/__pycache__/
/tests/pages/__pycache__/

/html_reports
reports/
requirements.txt
tmp/

Pipfile.lock
geckodriver.log
server.log
.editorconfig
/.DS_Store