[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

pytest = ">=6.2.4"
selenium = ">=3.141.0"
webdriver-manager = ">=3.4.2"
pytest-html = ">=3.1.1"
pytest-bdd = "<=4.1.0"
assertpy = "*"
pytest-xdist = ">=2.3.0"
pytest-rerunfailures = ">=10.2"

beautifulsoup4 = ">=4.10.0"
lxml = ">=4.7.1"

#browsermob_proxy= ">=0.8.0"
#py = ">=1.10.0"
#psutil = ">=5.8.0"
#pytest-docker = "*"
#pytest-html-profiling = "*"
#pytest-parallel = ">=0.1.0"
#pytest-xdist = ">=2.3.0"
#docker-compose = "*"

#pylint = "*"
#w3lib = ""

[requires]
python_version = "3.9.6"